body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

canvas {
    border: 1px solid black;
    background-color: black; /* Fallback color */

    background-size: cover;
}

.game-stats {
    position: absolute;
    top: 25px;
    left: 25px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    display: block;
}
